.App{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;
  height: 100vh;
  width: 100%;
}
.card{
  max-width: 200px;
  padding: 10px;
  min-height: 300px;
  border: 1px solid #222;
}
.card img{
  margin-bottom: 20px;
}
.card:not(:last-child){
  margin-bottom: 15px;
}